<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Olcar</title>
    @Styles.Render("~/Content/css")
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="icon" href="~/Content/Imagenes/logo_olcar.jpg"/>
</head>
<body>
    <div class="wrapper">
        <nav id="sidebar" class="sidebar js-sidebar">
            <div class="sidebar-content js-simplebar">
                <span class="sidebar-brand">
                    <span class="align-middle">OLCAR</span>
                </span>
                @if (User.Identity.IsAuthenticated)
                {
            <ul class="sidebar-nav">

                @if (User.IsInRole("Administrador"))
                {
                    <li class="sidebar-header">
                        Perfil
                    </li>

                    <li class="sidebar-item active">
                        <a class="sidebar-link" href="@Url.Action("DashboardAdmin", "Home")">
                            <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Dashboard</span>
                        </a>
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link" href="@Url.Action("Logout", "Acceso")">
                            <i class="align-middle" data-feather="log-in"></i> <span class="align-middle">Cerrar Sesión</span>
                        </a>
                    </li>

                    <li class="sidebar-header">
                        Gestión
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link" href="@Url.Action("Index", "Usuario")">
                            <i class="align-middle" data-feather="user"></i> <span class="align-middle">Usuarios</span>
                        </a>
                    </li>

                    <li class="sidebar-header">
                        Logística
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link" href="@Url.Action("ListaProdAdmin", "Producto")">
                            <i class="align-middle" data-feather="box"></i> <span class="align-middle">Productos</span>
                        </a>
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link" href="@Url.Action("ListaProvAdmin", "Proveedor")">
                            <i class="align-middle" data-feather="truck"></i> <span class="align-middle">Proveedores</span>
                        </a>
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link" href="@Url.Action("Index", "OrdenesAdmin")">
                            <i class="align-middle" data-feather="file"></i> <span class="align-middle">Órdenes de Compra</span>
                        </a>
                    </li>
                }

                @if (User.IsInRole("Cajero"))
                {
                    <li class="sidebar-header">
                        Perfil
                    </li>

                    <li class="sidebar-item active">
                        <a class="sidebar-link" href="@Url.Action("DashboardCajero", "Home")">
                            <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Dashboard</span>
                        </a>
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link" href="@Url.Action("Logout", "Acceso")">
                            <i class="align-middle" data-feather="log-in"></i> <span class="align-middle">Cerrar Sesión</span>
                        </a>
                    </li>

                    <li class="sidebar-header">
                        Venta
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link" href="@Url.Action("Registrar", "Venta")">
                            <i class="align-middle" data-feather="monitor"></i> <span class="align-middle">Registrar Venta</span>
                        </a>
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link" href="@Url.Action("ListarVentas", "Venta")">
                            <i class="align-middle" data-feather="dollar-sign"></i> <span class="align-middle">Ventas Realizadas</span>
                        </a>
                    </li>

                    <li class="sidebar-header">
                        Productos
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link" href="@Url.Action("ListarProductos", "Venta")">
                            <i class="align-middle" data-feather="box"></i> <span class="align-middle">Artículos</span>
                        </a>
                    </li>
                }

                @if (User.IsInRole("Operario de Almacén"))
                {
                    <li class="sidebar-header">
                        Perfil
                    </li>

                    <li class="sidebar-item active">
                        <a class="sidebar-link" href="@Url.Action("DashboardCajero", "Home")">
                            <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Dashboard</span>
                        </a>
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link" href="@Url.Action("Logout", "Acceso")">
                            <i class="align-middle" data-feather="log-in"></i> <span class="align-middle">Cerrar Sesión</span>
                        </a>
                    </li>

                    <li class="sidebar-header">
                        Logística
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link" href="@Url.Action("Index", "Proveedor")">
                            <i class="align-middle" data-feather="truck"></i> <span class="align-middle">Proveedores</span>
                        </a>
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link" href="@Url.Action("Index", "Ubicacion")">
                            <i class="align-middle" data-feather="map-pin"></i> <span class="align-middle">Ubicaciones</span>
                        </a>
                    </li>

                    <li class="sidebar-header">
                        Compras
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link" href="@Url.Action("Index", "OrdenCompra")">
                            <i class="align-middle" data-feather="file-text"></i> <span class="align-middle">Órden de Compra</span>
                        </a>
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link" href="@Url.Action("Index", "Ingreso")">
                            <i class="align-middle" data-feather="codesandbox"></i> <span class="align-middle">Recepción de Productos</span>
                        </a>
                    </li>

                    <li class="sidebar-header">
                        Productos
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link" href="@Url.Action("Index", "MarcaProducto")">
                            <i class="align-middle" data-feather="folder"></i> <span class="align-middle">Marcas</span>
                        </a>
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link" href="@Url.Action("Index", "Producto")">
                            <i class="align-middle" data-feather="box"></i> <span class="align-middle">Artículos</span>
                        </a>
                    </li>

                    <li class="sidebar-header">
                        Reportes del Almacén
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link" href="@Url.Action("ListaProductos", "ReportesAlmacen")">
                            <i class="align-middle" data-feather="list"></i> <span class="align-middle">Lista de Productos</span>
                        </a>
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link" href="@Url.Action("InventarioxMarca", "ReportesAlmacen")">
                            <i class="align-middle" data-feather="file-text"></i> <span class="align-middle">Inventario por Marca</span>
                        </a>
                    </li>
                }
            </ul>
                }
                </div>
        </nav>

        <div class="main">
            <nav class="navbar navbar-expand navbar-light navbar-bg">
                <a class="sidebar-toggle js-sidebar-toggle">
                    <i class="hamburger align-self-center"></i>
                </a>

                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav navbar-align">
                        <li class="nav-item dropdown">
                                @*<img src="img/avatars/avatar.jpg" class="avatar img-fluid rounded me-1" alt="Charles Hall" />*@
                            <h4 class="text-dark">Usuario: @User.Identity.Name</h4>
                        </li>
                    </ul>
                </div>
            </nav>

            <main class="content">
                <div class="container-fluid p-0">
                    @RenderBody()
                </div>
            </main>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/complementos")
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    @RenderSection("scripts", required: false)

</body>
</html>
