@model SistemaOlcar.Models.Producto

@{
    ViewBag.Title = "Detalles del Producto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Producto</h2>

<div>
    <h4>CÓDIGO: @Html.DisplayFor(model => model.idProducto)</h4>
    <hr />
    <h4>General</h4>
    <div class="container form-control p-4">
        <div class="row align-items-start">
            <div class="col-8">
                <div class="row">
                    <div class="col-md-4">Fecha de Creación:</div>
                    <div class="col-md-7">
                        @Html.DisplayFor(model => model.fechaCreacion)
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-4">Nombre:</div>
                    <div class="col-md-7">
                        @Html.DisplayFor(model => model.nombre)
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-4">Marca:</div>
                    <div class="col-md-7">
                        @Html.DisplayFor(model => model.MarcaProducto.nombre)
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-4">Categoría:</div>
                    <div class="col-md-7">
                        @Html.DisplayFor(model => model.categoria)
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-4">Unidad de Medida:</div>
                    <div class="col-md-7">
                        @Html.DisplayFor(model => model.unidadMedida)
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-4">Código EAN:</div>
                    <div class="col-md-7">
                        @Html.DisplayFor(model => model.codigoEAN)
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-4">Ubicación:</div>
                    <div class="col-md-7">
                        @Html.DisplayFor(model => model.Ubicacion.descripcion)
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-4">Estado:</div>
                    <div class="col-md-7">
                        @if (Model.estado == true)
                        {
                            <label>Activo</label>
                        }
                        else
                        {
                            <label>Inactivo</label>
                        }
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    @if (Model.imagen != null)
                    {
                        <img class="rounded border border-dark border-0" src="@Url.Action("ConvertirImagen", "Producto", new { id = Model.idProducto })" style="width: 310px; height: 310px;">
                        @*<img style="width:240px;" src="@Url.Action("ConvertirImagen", "Producto", new { id = Model.idProducto })" />*@
                    }
                </div>
            </div><br />
        </div>
    </div>
    <div class="">
        <br />
        <hr />
        <h4>Precios</h4>
        <div class="form-control p-4">
            <div class="row">
                <div class="col-md-3">Precio Compra con IGV (S/.):</div>
                <div class="col-md-2">
                    @Html.DisplayFor(model => model.costo)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-3">Precio Compra Sin IGV (S/.):</div>
                <div class="col-md-2">
                    @Html.DisplayFor(model => model.costoSinIGV)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-3">Precio Venta (S/.):</div>
                <div class="col-md-2">
                    @Html.DisplayFor(model => model.precioVenta)
                </div>
                <div class="col-md-2  text-end">Ganancia:</div>
                <div class="col-md-2">
                    @Html.DisplayFor(model => model.ganancia) %
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-3">
                    <a class="btn btn-info" onclick="historialCompras(@Html.DisplayFor(model => model.idProducto))">Historial de Compras</a>
                </div>
            </div>
        </div>
        <br />
        <hr />
        <h4>Stock</h4>
        <div class="form-control p-4">
            <div class="row">
                <div class="col-md-3">Stock Mínimo:</div>
                <div class="col-md-2">
                    @Html.DisplayFor(model => model.stockMinimo)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-3">Stock Máximo:</div>
                <div class="col-md-2">
                    @Html.DisplayFor(model => model.stockMaximo)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-3">Existencias:</div>
                <div class="col-md-2">
                    @Html.DisplayFor(model => model.stock)
                </div>
            </div>
        </div>
        <br />
        <div class="form-group">
            <a href='@Url.Action("Index")' class="btn btn-danger">Volver</a>
        </div>
    </div>
</div>

@*Modal HISTORIAL DE COMPRAS*@
<div class="modal fade" id="FormModalCompras" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h4 class="modal-title text-white" id="exampleModalLabel">Historial de Compras</h4>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-control p-4">
                    <table id="tablaHistorial" class="display" style="width:100%">
                        <thead>
                            <tr>
                                <th>Nro.INGR.</th>
                                <th>FECHA</th>
                                <th>PRODUCTO</th>
                                <th>CANTIDAD</th>
                                <th>CON IGV S/.</th>
                                <th>SIN IGV S/.</th>
                                <th>DCTO. %</th>
                                <th>TOTAL</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
    //---MODAL HISTORIAL DE COMPRAS
        function historialCompras(idProducto) {
            var mitabla;
            //var idProducto = $("#txtCodigo").val();

            //if (idProducto.trim() == "") {
            //    swal("", "Para ver el historial de compras primero debe escoger un producto", "info");
            //}
            //else {

                mitabla = $("#tablaHistorial").DataTable({
                    "order": [[0, "desc"]],
                    "autoWidth": false,
                    "drawCallback": function (settings) {
                        feather.replace();
                    },
                    "ajax": {
                        "url": '@Url.Action("HistorialCompras", "OrdenCompra")' + '?id=' + idProducto,
                        "type": "GET",
                        "dataType": "json"
                    },
                    "columns": [
                        { "data": "idIngreso" },
                        { "data": "fechaRegistro" },
                        { "data": "producto" },
                        { "data": "cantidad" },
                        { "data": "costoConIGV" },
                        { "data": "costoSinIGV" },
                        { "data": "descuento" },
                        { "data": "importeTotal" }

                    ],
                    "language": {
                        "url": "https://cdn.datatables.net/plug-ins/1.11.5/i18n/es-ES.json"
                    },
                    "bDestroy": true
                });

                $('#FormModalCompras').modal('show');

            //}
        }
    </script>
}