
@{
    ViewBag.Title = "Usuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Usuario</h2>
<hr />

<a href='@Url.Action("Crear")' class="btn btn-success">
    <i style="width:30px; height:30px" data-feather="plus-circle"></i>
    <span>
        <strong>Registrar</strong>
    </span>
</a>
<br />
<br />

<div class="form-control p-4">
    <table id="tabla" class="display" style="width:100%">
        <thead>
            <tr>
                <th>
                    CÓDIGO
                </th>
                <th>
                    USUARIO
                </th>
                <th>
                    ROL
                </th>
                <th>
                    ESTADO
                </th>
                <th>
                    ACCIONES
                </th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

@*Modal DETALLES*@
<div class="modal fade" id="FormModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-dark">
                <h2 class="modal-title text-white" id="exampleModalLabel">Usuario</h2>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @Html.Partial("Detalles")
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script>
    //----DataTable-----
        var tabladata;
        tabladata = $("#tabla").DataTable({
            "drawCallback": function (settings) {
                feather.replace();
            },
            "ajax": {
                "url": '@Url.Action("Listar", "Usuario")',
                "type": "GET",
                "dataType": "json"
            },
            "columns": [
                { "data": "idUsuario" },
                { "data": "usuario" },
                { "data": "rol" },
                {
                    "data": "estado", "render": function (valor) {
                        if (valor) {
                            return '<span class="badge bg-success">Activo</span>'
                        } else {
                            return '<span class="badge bg-danger">Inactivo</span>'
                        }
                    }
                },
                {
                    "data": "idUsuario", "render": function (data) {
                        return "<a type='button' class='btn btn-primary btn-sm ms-2' onclick='abrirModal(" + data + ")'><i data-feather='eye'></i></a>" +
                        "<a type='button' class='btn btn-secondary btn-sm ms-2' href='@Url.Action("Editar","Usuario")?id=" + data + "'><i data-feather='edit'></i></a>"
                    },
                    "orderable": false,
                    "searchable": false,
                    //"width": "150px"
                },
            ],
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.11.5/i18n/es-ES.json"
            }
        });

         //Abrir modal
        function abrirModal($id) {

            if ($id != 0) {

                jQuery.ajax({
                    url: "@Url.Action("Details","Usuario")" + "?idUsuario=" + $id,
                    type: "GET",
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {

                        if (data != null) {

                            $("#txtCodigo").val(data.idUsuario);
                            $("#txtUsuario").val(data.usuario);
                            $("#txtPassword").val(data.contraseña);
                            $("#txtRol").val(data.rol);
                            $("#txtEstado").val(data.estado == true ? "Activo" : "Inactivo");
                        }

                    }
                });
            }
            $('#FormModal').modal('show');
        }

    </script>

}
