
@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<nav class="navbar navbar-dark bg-dark">
    <h4 id="titlealmacen" class="text-white">Órdenes de Compra</h4>
</nav>
<div class="row m-1" id="ordenesdiv">
    @*ORDENES DE COMPRA*@
</div>

<div class="row">
    <div class="col-lg-4" align="center">
        <div class="card">
            <h4 class="card-header bg-dark text-white">Ganancias de Hoy @DateTime.Now.ToShortDateString() </h4>
            <div class="card-body">
                <h4 id="miGanancia"></h4>
            </div>
        </div>
    </div>
    <div class="col-lg-4" align="center">
        <div class="card">
            <h4 class="card-header bg-dark text-white">Cantidad de Ventas</h4>
            <div class="card-body">
                <h4 id="cantidadVentas"></h4>
            </div>
        </div>
    </div>
    <div class="col-lg-4" align="center">
        <div class="card">
            <h4 class="card-header bg-dark text-white">Cantidad de Productos vendidos </h4>
            <div class="card-body">
                <h4 id="cantidadProdVendidos"></h4>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-lg-6" align="center">
        <div class="card">
            <h4 class="card-header bg-dark text-white">Ganancias en Ventas: Últimos 4 meses</h4>
            <div class="card-body">
                <canvas id="myBarChart"></canvas>
            </div>
        </div>
    </div>
    <div class="col-lg-6" align="center">
        <div class="card">
            <h4 class="card-header bg-dark text-white">Productos más vendidos: Últimos 2 meses</h4>
            <div class="card-body">
                <canvas id="myPieChart"></canvas>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>

        //TOP 5 PRODUCTOS MÁS VENDIDOS: 2 MESES
        jQuery.ajax({
            url: "@Url.Action("TopProductosVendidos", "Home")",
            type: "GET",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {

                let arrayNombre = [];
                let arrayCantidad = [];

                for (var i = 0; i < data.length; i++) {
                    arrayNombre.push(data[i].nombre);
                    arrayCantidad.push(data[i].cantidad);
                }

                let pieBar = document.querySelector("#myPieChart");

                let graficoPie = new Chart(pieBar, {
                    type: 'pie',
                    data: {
                        labels: arrayNombre,
                        datasets: [
                            {
                                backgroundColor: ["#b0ffc0", "#E0B0FF", "#ffb0bf","#fcf264"],
                                data: arrayCantidad
                            }
                        ]
                    },
                });
            }
        });


        //ORDENES DE COMPRAS
        jQuery.ajax({
            url: '@Url.Action("OrdenesPendientes", "OrdenesAdmin")',
            type: "GET",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (json) {

                var ordenesd = document.querySelector("#ordenesdiv");

                if (json.length != 0) {

                    for (var i = 0; i < json.length; i++) {

                        var div = document.createElement("div");
                        ordenesd.appendChild(div);
                        div.classList.add("col-lg-4");

                        var card = document.createElement("div");
                        div.appendChild(card);
                        card.classList.add("card");

                        var titulo = document.createElement("h5");
                        card.appendChild(titulo);
                        titulo.append("ÓRDEN DE COMPRA Nro. " + json[i].idOrden + "");
                        titulo.classList.add("card-header", "bg-primary", "text-white");

                        var cardBody = document.createElement("div");
                        card.appendChild(cardBody);
                        cardBody.classList.add("card-body");

                        var ul = document.createElement("ul");
                        cardBody.appendChild(ul);
                        ul.classList.add("list-group", "list-group-flush");

                        var li1 = document.createElement("li");
                        ul.appendChild(li1);
                        li1.classList.add("list-group-item");

                        var li2 = document.createElement("li");
                        ul.appendChild(li2);
                        li2.classList.add("list-group-item");

                        var li3 = document.createElement("li");
                        ul.appendChild(li3);
                        li3.classList.add("list-group-item");

                        var li4 = document.createElement("li");
                        ul.appendChild(li4);
                        li4.classList.add("list-group-item");

                        var li5 = document.createElement("li");
                        ul.appendChild(li5);
                        li5.classList.add("list-group-item");

                        var li6 = document.createElement("li");
                        ul.appendChild(li6);
                        li6.classList.add("list-group-item");

                        li1.append("FECHA REGISTRO: " + json[i].fechaRegistro);
                        li2.append("PROVEEDOR: " + json[i].proveedor);
                        li3.append("SITUACIÓN: " + json[i].situacion);
                        li4.append("COSTO TOTAL: " + "S/." + json[i].costoTotal);
                        li5.append("FECHA DE CADUCIDAD: " + json[i].fechaVencimiento);

                        if (json[i].observacion != null) {
                            li6.append("OBSERVACIÓN: " + json[i].observacion);
                        }
                        else {
                            li6.append("OBSERVACIÓN: Ninguna");
                        }
                    }
                }
                else {
                    var span = document.createElement("span");
                    span.classList.add("bg-white","text-dark", "m-1", "p-1");
                    var msg = document.createTextNode("NO HAY PENDIENTES");
                    ordenesd.appendChild(span);
                    span.append(msg);
                }

            }
        });

        //Ganancia del día
        jQuery.ajax({
            url: "@Url.Action("RetornaGananciaDia", "Home")",
            type: "GET",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {

                let gananciaDiaria = document.querySelector("#miGanancia");

                if (data[0] != null) {
                    gananciaDiaria.innerHTML = "S/. " + data[0];
                }
                else {
                    gananciaDiaria.innerHTML = "S/. 0"
                }

            }
        });

        //Cantidad de Ventas al dia
        jQuery.ajax({
            url: "@Url.Action("RetornaCantidadVentas", "Home")",
            type: "GET",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {

                let cant = document.querySelector("#cantidadVentas");

                if (data[0] != null) {
                    cant.innerHTML = data[0];
                }
                else {
                    cant.innerHTML = "No hay ventas"
                }

            }
        });

        //Cantidad de productos vendidos al dia
        jQuery.ajax({
            url: "@Url.Action("RetornaCantProdVendidos", "Home")",
            type: "GET",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {

                let cant = document.querySelector("#cantidadProdVendidos");

                if (data[0] != null) {
                    cant.innerHTML = data[0];
                }
                else {
                    cant.innerHTML = "0"
                }

            }
        });

        //GANANCIAS MENSUALES: 4 MESES
        jQuery.ajax({
            url: "@Url.Action("ReporteVentas", "Home")",
            type: "GET",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {

                let arrayMeses = [];
                let arrayTotal = [];

                for (var i = 0; i < data.length; i++) {
                    arrayMeses.push(data[i].mes);
                    arrayTotal.push(data[i].total);
                }

                let controlBar = document.querySelector("#myBarChart");

                let graficoBar = new Chart(controlBar, {
                    type: 'bar',
                    data: {
                        labels: arrayMeses,
                        datasets: [
                            {
                                label: "Total S/.",
                                backgroundColor: "rgba(0, 0, 255, 0.4)",
                                data: arrayTotal,
                                borderRadius: 6,
                                borderColor: "blue",
                                borderWidth: 1,
                            }
                        ]
                    }
                });
            }
        });

    </script>
}


