@model SistemaOlcar.Models.Proveedor

@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Proveedor</h2>
<div>
    <h4>CÓDIGO: @Html.DisplayFor(model => model.idProveedor)</h4>
    <hr />
    <div class="row">
        <div class="col-md-2">Nro. de Documento:</div>
        <div class="col-md-5">
            @Html.DisplayFor(model => model.numeroDocumento)
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-2">Nombre:</div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.nombre)
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-2">Dirección:</div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.direccion)
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-2">Departamento:</div>
        <div class="col-md-5">
            @Html.DisplayFor(model => model.departamento)
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-2">Provincia:</div>
        <div class="col-md-5">
            @Html.DisplayFor(model => model.provincia)
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-2">Distrito:</div>
        <div class="col-md-5">
            @Html.DisplayFor(model => model.distrito)
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-2">Teléfono:</div>
        <div class="col-md-5">
            @Html.DisplayFor(model => model.telefono)
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-2">Email:</div>
        <div class="col-md-5">
            @Html.DisplayFor(model => model.email)
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-2">Condición de Pago:</div>
        <div class="col-md-5">
            @Html.DisplayFor(model => model.condicionPago)
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-2">Estado:</div>
        <div class="col-md-3">
            @if (Model.activo == true)
            {
                <label>Activo</label>
            }
            else
            {
                <label>Inactivo</label>
            }
        </div>
    </div>
</div>
<br />
<p>
    <a type="button" class="btn btn-secondary" href="@Url.Action("Index", "Proveedor")">Volver</a>
</p>
